.input {
  display: flex;
  text-align: center;

  background: transparent;
  border: 0.2rem solid transparent;
  transition: all 0.2s ease-in-out;
  padding: 0.8rem;
  font-size: 1.8rem;
  color: var(--text-default);
  border-bottom: 0.2rem solid var(--primary-color-dark);
 }

 input:focus {
  outline: none;
  border: 0.2rem solid var(--primary-color-dark);
  border-radius: 0.8rem;
 }

 input:disabled {
  cursor: not-allowed;
  border: 0.2rem solid var(--disabled);
  color: var(--text-muted);
 }

 input::placeholder {
  color: var(--grau-400);
  font-size: 1.4rem;
  font-style: italic;
 }

